* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: white;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: hsl(193, 100%, 96%);
    background-image: url("./images/bg-hero-desktop.svg");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
    padding-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav button {
    border: none;
    background-color: white;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
}

nav button:hover {
    opacity: 0.7;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    width: 80%;
    margin-top: 70px;
}

.hero .text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;
}

.hero .text h1 {
    font-size: 35px;
}

.hero .text p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.hero .text button {
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 15px 45px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(243, 153, 153, 0.1); 
    transition: box-shadow 0.3s ease;
}

.hero .text button:hover {
    opacity: 0.7;
}

.hero .image {
    width: 50%;
}

.hero img {
    height: 400px;
}

.grow-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.grow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    padding: 30px 50px;
}

.grow .txt {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.grow .txt h3 {
    font-size: 30px;
    color: black;
}

.grow .txt p {
    font-size: 14px;
    line-height: 20px;
    color: hsl(208, 11%, 55%);
}

.grow .imag {
    width: 45%;
}

.grow .imag img {
    height: 250px;
}

.flow-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.flow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    padding: 30px 50px;
}

.flow .txt {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flow .txt h3 {
    font-size: 30px;
    color: black;
}

.flow .txt p {
    font-size: 14px;
    line-height: 20px;
    color: hsl(208, 11%, 55%);
}

.flow .imag {
    width: 45%;
}

.flow .imag img {
    height: 250px;
}

.user-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 300px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    padding: 30px 50px;
}

.user .txt {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user .txt h3 {
    font-size: 30px;
    color: black;
}

.user .txt p {
    font-size: 14px;
    line-height: 20px;
    color: hsl(208, 11%, 55%);
}

.user .imag {
    width: 45%;
}

.user .imag img {
    height: 250px;
}

.footer-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    position: relative;
}

.cta {
    width: 55%;
    position: absolute;
    top: -125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px 0;
}

.cta h3 {
    font-size: 30px;
    font-weight: 700;
}

.cta button {
    padding: 15px 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(243, 153, 153, 0.1); 
    transition: box-shadow 0.3s ease;
    border-radius: 15px;
    color: white;
}


.cta button:hover {
    opacity: 0.7;
}

ion-icon {
    color: white;
    border:  1px solid white;
    padding: 5px;
    border-radius: 50%;
}

ion-icon:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

footer {
    margin-top: 120px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

footer .logo img {
    color: white;
    background-color: white;
}

footer .column {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .col1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5em;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.col1, 
.col li a {
    color: white;
}

.link  {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.link li a:hover {
    text-decoration: underline;
}

.loc,
.fon,
.mail {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}

.copy-text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.copy-text p {
    color: white;
}


@media  screen and (max-width: 420px) {
    nav {
        width: 90%;
    }

    .hero {
        flex-direction: column;
    }

    .hero .text {
        width: 100%;
        height: 50%;
    }

    .hero .image {
        width: 100%;
        height: 50%;
    }

    .hero .text h1 {
        font-size: 30px;
    }

    .hero .text p {
        font-size: 18px;
    }

    .hero button {
        padding: 10px 20px;
    }
}